@page "/alunos"
@inject IAlunoService alunoService

<h3>Alunos</h3>

<br />

<div>
  <a href="aluno/create" class="btn btn-outline-secondary">
    Cadastrar Novo Aluno
  </a>
</div>

@if (Alunos == null) {
  <p>Carregando...</p>
} else {
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
      </tr>
    </thead>

    <tbody>
      @foreach (var aluno in Alunos) {
        <tr>
          <td>@aluno.Nome</td>
          <td>@aluno.Email</td>
          <td>@aluno.Nascimento</td>
          <td>
            <a href="aluno/edit/@aluno.AlunoId" class="btn btn-success">Editar</a>
            <a href="aluno/delete/@aluno.AlunoId" class="btn btn-danger">Excluir</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  public IEnumerable<Aluno> Alunos { get; set; }

  protected async override Task OnInitializedAsync () {
    await GetAlunos();
  }

  protected async Task GetAlunos () {
    Alunos = await alunoService.GetAlunos();
  }
}
